# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Home Assistant cache
.storage/

# Environments
.env
.venv/
venv/

# macOS
.DS_Store

# Logs
*.log
